body {
    background-color: #13524c67;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FFFFFF;
}

a:link {
    color: #FFFFFF;
}
a:visited {
    color: #FFFFFF;
}
a:hover {
    color: #ff8383;
}
a:active {
    color: #ff8383;
}

.link {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.timer {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.instruction {
    background-color: #FFFFFF33;
    margin: 100px auto 0 auto;
    max-width: 500px;
    text-align: center;
}